@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {  
    background:#f2f2f2;
    padding:20px;
}

#logo{
    display: flex;
    font-size: 3em;
    color: rgb(235, 173, 59);
}

#title{
    font-size: 3.7rem;
    margin-top: 40px;
    text-align: center;
}

.sub_title{
    font-size: 2em;
}

#content{
    background-color: rgb(233, 219, 200);
    padding: 30px;
    border-radius: 4px;
    margin: auto;
}

h2 { 
    margin-top:30px 
}

input { 
    padding:6px 15px; 
    margin:4px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
}

button{
    border-radius: 10px;
    padding: 6px 15px;
    border: 1px solid black;
    color: black;
    background-color: orange;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
}

button:hover{
     background-color:rgb(250, 174, 33) ;
     transition-duration: 0.5s;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
}

select{
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
}

table {
    border-collapse: collapse;
    width:100%; 
    margin-top:10px; 
    background:white 
}

th, td { 
    border:1px solid #ccc; 
    padding:6px; 
    text-align:center;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
}

button { 
    cursor:pointer 
}