@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {  
    background:#f2f2f2;
    padding:20px;
}

#logo{
    font-size: 3em;
}

#title{
    font-size: 3.7rem;
    margin-top: 40px;
    text-align: center;
}

.sub_title{
    font-size: 2em;
}

h2 { 
    margin-top:30px 
}

input, select, button { 
    padding:6px; 
    margin:4px 
}

table {
    border-collapse: collapse;
    width:100%; 
    margin-top:10px; 
    background:white 
}

th, td { 
    border:1px solid #ccc; 
    padding:6px; 
    text-align:center 
}

button { 
    cursor:pointer 
}