main {
    margin-top: 180px; /* ajuste conforme altura real da navbar */
}

/*Barra de Navegação*/
#navbar{
    background-color: white ;
    display: flex; 
    width: 100%;
    height: 180px;
    padding: 40px 50px;
    position: fixed;
    top: 0;               
    left: 0;                       
    z-index: 1000;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
}

#navbar-list{
    display: flex;
    margin-top: 50px;
    margin-left: 5%;
    gap: 30px;
    list-style: none;
}

.navbar_list_item.active a{
    border-bottom:  1px solid black;
}

.navbar_list_item a:hover{
    border-bottom:  1px solid black;
}

#navbar-list a{
    text-decoration: none;
    color: black;
}

#logo{
    margin-left: 20%;
}

