@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
    color: white;
}

span{
    font-weight: 700;
}

body{
    background-color: black;
}

.contador{
    background-color: #0018ff;
    padding: 7px 5%;
    border-radius:25px;
    font-weight: 700;
}

.navbar_item.active{
    font-weight: 700;
}