@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor-principal: #F36B21; /* cor destaque para coisas importante*/
    --cor-variante: #C8541A;  /*cor para destaques secundarios ou botoes*/
    --cor-estrutura: #3A3A3A; /*cor para textos, rodapes, titulos*/
    --cor-fundo:#585757; /*cor para fundo, de respiro visual*/
    --cor-contraste: #ffff; /*cor para contraste na leitura*/
    --fonte-padrao: "Roboto", sans-serif; /*para textos corridos*/
    --fonte-destaque: "Montserrat", sans-serif; /*para titulos e coisa importantes*/
}

body{
    background-color: var(--cor-fundo);
}

header{
    background-image: linear-gradient(var(--cor-variante), var(--cor-principal));
    height: 260px;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: var(--cor-contraste);
    padding: 20px;
}

header > h2{
    font-family: var(--fonte-destaque);
    text-align: center;
    color: var(--cor-contraste);
}

nav{
    background-color: var(--cor-principal);
}

nav > a{
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 30px;
    padding: 5px;
}

nav > a:hover{
    background-color: var(--cor-variante);
    color: var(--cor-estrutura);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

main{
    margin: auto;
    background-color: white;    
    max-width: 1000px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}

main > p{
    font-family: var(--fonte-padrao);
}