@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    text-align: center;
}

header{
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    color: white;
    background-color: rgb(197, 131, 9);
    font-weight: bolder;
}

ul {
    font-size: 25px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 150px; 
  padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(226, 175, 8);
}

.mouse{
    border: 3px solid rgb(197, 131, 9);;
    display: flex;
}

.teclado{
    border: 3px solid rgb(197, 131, 9);;
    display: flex;  
}

div{
    display: flex  ;
    gap: 10px;
}

.fone{
    border: 3px solid rgb(197, 131, 9);;
    display: flex;
}

.shark > p{
    display: none;
}
.shark:hover > p{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.beats > p{
    display: none;
}

.beats:hover > p{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.redragon > p{
    display: none;
}

.redragon:hover > p{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    
}

