
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px ;
}

#navbar-logo{
    color: #1e3706;
    font-size: 24px;
}


#navbar-list{
    display: flex;
    margin-right: 450px;
    gap: 80px;
    list-style: none;
}

#navbar-list a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #1e3706;
}

#navbar-list-mobile{
    display: none;    
    text-align: center;
}

#navbar-list-mobile a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #1e3706;
    flex-direction: column;
    gap: 30px;
}

#menu-btn{
    display: none;
    font-size: 28px;
    background-color: transparent;
    border: none;
    color: #1e3706;
    cursor: pointer;
}


@media screen and (max-width:1000px){
        #menu-btn{
            display: flex;
        } 

        #navbar-list-mobile.active{
            display: block;
        }

        #navbar-list{
            display: none;
        }
}