@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


#home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 20px;
}

#home h1{
    font-family: "Tenor Sans", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #1e3706;
}

#conteudo {
    width: 500px;
    max-width: 90%;
}

#shop-btn{
    background-color: #1e3706;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 30px;
    cursor: pointer;
}

#shop-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 1000px){
    #home{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding-top: 60px;
        min-height: 60vh;
    }

    #home h1{
        font-size: 32px;
        text-align: center;
    }

    #conteudo{
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    #shop-btn{
        padding: 12px 20px;
    }
}