@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: end;
    margin-right: 300px;
    height: 100vh;
}

#home h1{
     font-family: "Tenor Sans", sans-serif;;
    font-size: 40px;
    font-weight: normal;
    color: #1e3706;
}

#conteudo {
    max-width: 500px;
}

#shop-btn{
    background-color: #1e3706;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 30px;
    cursor: pointer;
}

#shop-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}