
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body{
    background-image: url("background.png");
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;;
}