
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}

body{
    background: black url(background.jpg) center center no-repeat fixed;
    background-size: cover;
}

#logo{
    text-align: center;
}

#fundo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    background-color: rgba(255, 255, 255, 0.137);
    height: 700px;
    width: 900px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#login{
    background-color: rgba(255, 255, 255, 0.342);
    height: 600px;
    width: 400px;
    padding: 30px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Email{
    padding: 10px;
    border-radius: 8px;
    border: 1px transparent solid;
    background-color: white;
}

#senha{
    padding: 10px;
    border-radius: 8px;
    border: 1px transparent solid;
    background-color: white;
}

label{
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
}

#forgot-pass {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

#forgot-pass:hover{
    font-weight: 500;
    transition-duration: 0.2s;
}

#login-btn{
    margin-top: 30px;
    padding: 16px;
    border-radius: 16px;
    border: 1px transparent solid;
    background-color: rgb(233, 139, 33);
}

#login-btn:hover{
    background-color: rgb(177, 97, 7);
    transition-duration: 0.3s;
}

#login-btn a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.description{
    margin-top: 10px ;
    text-align: center;
    font-size: 1rem;
}

#social-media{
    text-align: center;
}

#social-media i{
    font-size: 2rem;
    border-radius: 8px;
    background-color: white;
}